
F1News.xcodeproj/.idea/*
F1News.xcodeproj/xcuserdata/ievgeniia.xcuserdatad/xcschemes/xcschememanagement.plist
F1News.xcworkspace/xcuserdata/ievgeniia.xcuserdatad/UserInterfaceState.xcuserstate
F1News.xcworkspace/xcuserdata/ievgeniia.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
F1News.xcworkspace/xcuserdata/ievgeniia.xcuserdatad/xcdebugger/Expressions.xcexplist
Pods/Manifest.lock
Pods/Pods.xcodeproj/project.pbxproj
Pods/Pods.xcodeproj/xcuserdata/ievgeniia.xcuserdatad/xcschemes/Pods-F1News.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ievgeniia.xcuserdatad/xcschemes/Pods-F1NewsTests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ievgeniia.xcuserdatad/xcschemes/SDWebImage.xcscheme
Pods/Pods.xcodeproj/xcuserdata/ievgeniia.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/SDWebImage/LICENSE
Pods/SDWebImage/README.md
Pods/SDWebImage/SDWebImage/NSButton+WebCache.h
Pods/SDWebImage/SDWebImage/NSButton+WebCache.m
Pods/SDWebImage/SDWebImage/NSData+ImageContentType.h
Pods/SDWebImage/SDWebImage/NSData+ImageContentType.m
Pods/SDWebImage/SDWebImage/NSImage+WebCache.h
Pods/SDWebImage/SDWebImage/NSImage+WebCache.m
Pods/SDWebImage/SDWebImage/SDAnimatedImageRep.h
Pods/SDWebImage/SDWebImage/SDAnimatedImageRep.m
Pods/SDWebImage/SDWebImage/SDImageCache.h
Pods/SDWebImage/SDWebImage/SDImageCache.m
Pods/SDWebImage/SDWebImage/SDImageCacheConfig.h
Pods/SDWebImage/SDWebImage/SDImageCacheConfig.m
Pods/SDWebImage/SDWebImage/SDWebImageCoder.h
Pods/SDWebImage/SDWebImage/SDWebImageCoder.m
Pods/SDWebImage/SDWebImage/SDWebImageCoderHelper.h
Pods/SDWebImage/SDWebImage/SDWebImageCoderHelper.m
Pods/SDWebImage/SDWebImage/SDWebImageCodersManager.h
Pods/SDWebImage/SDWebImage/SDWebImageCodersManager.m
Pods/SDWebImage/SDWebImage/SDWebImageCompat.h
Pods/SDWebImage/SDWebImage/SDWebImageCompat.m
Pods/SDWebImage/SDWebImage/SDWebImageDownloader.h
Pods/SDWebImage/SDWebImage/SDWebImageDownloader.m
Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.h
Pods/SDWebImage/SDWebImage/SDWebImageDownloaderOperation.m
Pods/SDWebImage/SDWebImage/SDWebImageFrame.h
Pods/SDWebImage/SDWebImage/SDWebImageFrame.m
Pods/SDWebImage/SDWebImage/SDWebImageGIFCoder.h
Pods/SDWebImage/SDWebImage/SDWebImageGIFCoder.m
Pods/SDWebImage/SDWebImage/SDWebImageImageIOCoder.h
Pods/SDWebImage/SDWebImage/SDWebImageImageIOCoder.m
Pods/SDWebImage/SDWebImage/SDWebImageManager.h
Pods/SDWebImage/SDWebImage/SDWebImageManager.m
Pods/SDWebImage/SDWebImage/SDWebImageOperation.h
Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.h
Pods/SDWebImage/SDWebImage/SDWebImagePrefetcher.m
Pods/SDWebImage/SDWebImage/SDWebImageTransition.h
Pods/SDWebImage/SDWebImage/SDWebImageTransition.m
Pods/SDWebImage/SDWebImage/UIButton+WebCache.h
Pods/SDWebImage/SDWebImage/UIButton+WebCache.m
Pods/SDWebImage/SDWebImage/UIImage+ForceDecode.h
Pods/SDWebImage/SDWebImage/UIImage+ForceDecode.m
Pods/SDWebImage/SDWebImage/UIImage+GIF.h
Pods/SDWebImage/SDWebImage/UIImage+GIF.m
Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.h
Pods/SDWebImage/SDWebImage/UIImage+MultiFormat.m
Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.h
Pods/SDWebImage/SDWebImage/UIImageView+HighlightedWebCache.m
Pods/SDWebImage/SDWebImage/UIImageView+WebCache.h
Pods/SDWebImage/SDWebImage/UIImageView+WebCache.m
Pods/SDWebImage/SDWebImage/UIView+WebCache.h
Pods/SDWebImage/SDWebImage/UIView+WebCache.m
Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.h
Pods/SDWebImage/SDWebImage/UIView+WebCacheOperation.m
Pods/Target Support Files/Pods-F1News/Info.plist
Pods/Target Support Files/Pods-F1News/Pods-F1News-acknowledgements.markdown
Pods/Target Support Files/Pods-F1News/Pods-F1News-acknowledgements.plist
Pods/Target Support Files/Pods-F1News/Pods-F1News-dummy.m
Pods/Target Support Files/Pods-F1News/Pods-F1News-frameworks.sh
Pods/Target Support Files/Pods-F1News/Pods-F1News-resources.sh
Pods/Target Support Files/Pods-F1News/Pods-F1News-umbrella.h
Pods/Target Support Files/Pods-F1News/Pods-F1News.debug.xcconfig
Pods/Target Support Files/Pods-F1News/Pods-F1News.modulemap
Pods/Target Support Files/Pods-F1News/Pods-F1News.release.xcconfig
Pods/Target Support Files/Pods-F1NewsTests/Info.plist
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests-acknowledgements.markdown
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests-acknowledgements.plist
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests-dummy.m
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests-frameworks.sh
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests-resources.sh
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests-umbrella.h
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests.debug.xcconfig
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests.modulemap
Pods/Target Support Files/Pods-F1NewsTests/Pods-F1NewsTests.release.xcconfig
Pods/Target Support Files/SDWebImage/Info.plist
Pods/Target Support Files/SDWebImage/SDWebImage-dummy.m
Pods/Target Support Files/SDWebImage/SDWebImage-prefix.pch
Pods/Target Support Files/SDWebImage/SDWebImage-umbrella.h
Pods/Target Support Files/SDWebImage/SDWebImage.modulemap
Pods/Target Support Files/SDWebImage/SDWebImage.xcconfig
